body{
    background-color: #FFF1D3;
    background: radial-gradient(circle at top left, #FFF1D3, #FFD1A4);
    height: 100vh;
    margin: 0;
}


button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 50px;
           background:#bebebe;
            border: 6px;
            color: black;
            font-family: Pixelify Sans;
            font-size: 15px;

            border-style: inset;
            box-shadow: 5px 5px;
            z-index: 10;
        }

p {
    text-align: center;
    font-weight: bold; /* Perbaikan dari font: bold */
    font-size: 2rem;
    font-family: Pixelify Sans;
    background:  linear-gradient(135deg, #4701a1 35%, #8d6a00  50%, #807408 0%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parent{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 40px;
}

.center {

    width: 390px;
    aspect-ratio: 3/2;
    display: inline-block;
    position: relative;
           top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    border-radius: 10px;
}

.deco {
    width: 380px;
    aspect-ratio: 3/2;
    display: inline-block;
background: rgb(0, 0, 255);
backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 8px 8px 0 0 ;
     position: relative;
           top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    border-radius: 10px;
}